html, body { 
    --color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffd3b6; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    padding-top: 50px;
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: 'Roboto', sans-serif;
    color: black;
    height: 100vh
}

.container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--color-3);
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 50px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    box-sizing: border-box;
    border-radius: 10px;
    width: 99px;
    height: 99px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color: var(--color-5);
}

#resetBtn {
    background-color: var(--color-4);
}
.display {
    display: none;
}

button:focus {
    outline: none;
}


.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}
.dot {
    visibility: hidden;
    background-color: black;
    width: 23px;
    height: 23px;
    border-radius: 30px;
    margin: 5px;
}
.show {
    visibility: visible;
}