html, body {   
    color: white;
    font-size: 16px;
    margin: auto;
}
.game {
    margin: auto;
    min-height: 100vh;
    background-color: #578a34;
}
.topbar {
    background-color: #446B29;
}
.container {
    display: flex;
    margin: auto;
    width: 400px;
    justify-content: space-between;
}
.flex {
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0px;
    width: 375px;
    height: 375px;
    border: solid 5px #446B29;
}
p {
    margin: 0;   
    font-size: 25px;
    line-height: 45px;
    color: #AAEFA9;
}
.square {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
}
.field1 {
    background-color: #aad751;
}
.field2 {
    background-color: #a2d149;
}
.snake {
    background-color: #DDC000;
}
.apple {
    background-color: #F03A17;
}
#gameover {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    color: #9FE19B;
    background-color: #E74C3C;
    padding: 20px;
    display: none;
}
#restart {
    width: 40px;
} 
#restart:active {
    transform: scale(0.9);
}