html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: royalblue;
}

#search {
    display: flex;
    padding: 20px;
    background-color: orange;
}

#search label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

#results {
    display: block;
    padding: 10px;
    margin-bottom: 0;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
}
.hide {
    display: none;
}
