body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel {
    text-align: center;
    width: 100%;
    margin: auto;
}
.carousel-item {
    display: none;
    opacity: 0;
}
.carousel-item-visible {
    display: inline;
    opacity: 1;
    animation: fade 0.5s;
    width: 100%;
    height: 100%;
}
button {
    position: absolute;
    bottom: 50%;
    border: none;
    width: max(30px, 3vw);
    height: max(30px, 3vw);
    font-size: max(20px, 2vw);
    font-weight: bold;
    border-radius: 300px;
    background: white;
    outline: none;
}
#carousel-button-prev {
    left: 3%;
    
}
#carousel-button-next {
    right: 3%;
}
button:hover, button:focus {
    background-color: #999999;
}
button:active {
    background-color: black;
    color: white;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}